	
<nav>    
	<ul>
	    <li data-restRequest="/rest/main">О главном</a></li>
	    <li data-restRequest="/rest/cats">Велюр, пух и мех</li>
	    <li data-restRequest="/rest/paws">Лапки</li>
	    <li data-restRequest="/rest/feed">Покормите котика</li>	    
	</ul>    
</nav>
