	
<nav>    
	<ul>
	    <li><a href='main'>О главном</a></li>
	    <li><a href='cats'>Велюр, пух и мех</a></li>
	    <li><a href='paws'>Лапки</a></li>
	    <li><a href='feed'>Покормите котика</a></li>
	    <li><a href='feed'>Last changes</a></li>
	</ul>    
</nav>
