<!doctype html>
<html>
<head>
    <title>Велюровая страничка</title>
    <meta charset="utf-8" />
    {{> scripts}}
</head>
<body>
    <h1>Велюр the кот</h1>
    {{> menu}}
     
    {{> footer}}
</body>
<html>